<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Success window </title>
    <link rel="stylesheet" th:href="@{static/css/styles2.css}"/>
</head>
<body>

<form action="http://localhost:8080/form">
    <table style="border:3px; border-style:solid; border-color:#020000; padding: 1em;" >
        <tbody>
        <tr>
            <td>
                <label> File sucessfully uploaded! </label>
            </td>
        </tr>
        <tr align="center">
            <td><input type="submit" value="OK"/></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>